<nb-auth-block>
  <h1 class="form-text title title-logo">
    <img src="assets/images/logo-reclamador.svg" class="logo" />
  </h1>
  <p class="form-text sub-title">
    Introduce tu correo y te enviaremos instrucciones para recuperar tu constraseña
  </p>

  <form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">
    <nb-alert
      *ngIf="showMessages.error && errors?.length && !submitted"
      outline="danger"
      role="alert"
    >
      <p class="alert-title"><b>Wow wow wow</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>

    <nb-alert
      *ngIf="showMessages.success && messages?.length && !submitted"
      outline="success"
      role="alert"
    >
      <p class="alert-title"><b>Hooray!</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
      </ul>
    </nb-alert>

    <div class="form-control-group">
      <label class="label" for="input-email">Email:</label>
      <input
        nbInput
        [(ngModel)]="user.email"
        #email="ngModel"
        id="input-email"
        name="email"
        pattern=".+@.+\..+"
        placeholder="Email"
        autofocus
        fullWidth
        [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
        [required]="getConfigValue('forms.validation.email.required')"
        [attr.aria-invalid]="email.invalid && email.touched ? true : null"
      />
      <ng-container *ngIf="email.invalid && email.touched">
        <p class="error-message" *ngIf="email.errors?.required">
          ¡Email es obligatorio!
        </p>
        <p class="error-message" *ngIf="email.errors?.pattern">
          ¡No es un email válido!
        </p>
      </ng-container>
    </div>

    <button
      nbButton
      fullWidth
      [disabled]="submitted || !requestPassForm.valid"
      [class.btn-pulse]="submitted"
    >
      Pedir nueva constraseña
    </button>
  </form>

  <section class="sign-in-or-up" aria-label="Sign in">
    <p><a class="text-link" routerLink="../login">Volver al login</a></p>
  </section>
</nb-auth-block>
