<nb-auth-block>
  <h1 class="form-text title title-logo">
    <img src="assets/images/logo-reclamador.svg" class="logo" />
  </h1>
  <p class="form-text sub-title">
    Introduce la nueva contraseña para completar el proceso de reseteo.
  </p>

  <form (ngSubmit)="resetPass()" #requestPassForm="ngForm" aria-labelledby="title">
    <nb-alert
      *ngIf="showMessages.error && errors?.length && !submitted"
      outline="danger"
      role="alert"
    >
      <p class="alert-title"><b>Wow wow wow</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>

    <nb-alert
      *ngIf="showMessages.success && messages?.length && !submitted"
      outline="success"
      role="alert"
    >
      <p class="alert-title"><b>Hooray!</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
      </ul>
    </nb-alert>

    <div class="form-control-group">
      <label class="label" for="input-password">Nueva contraseña:</label>
      <input
        nbInput
        [(ngModel)]="user.password"
        #password="ngModel"
        type="password"
        id="input-password"
        name="password"
        class="first"
        placeholder="Nueva contraseña"
        autofocus
        fullWidth
        [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
        [required]="getConfigValue('forms.validation.password.required')"
        [minlength]="getConfigValue('forms.validation.password.minLength')"
        [maxlength]="getConfigValue('forms.validation.password.maxLength')"
        [attr.aria-invalid]="password.invalid && password.touched ? true : null"
      />
      <ng-container *ngIf="password.invalid && password.touched">
        <p class="error-message" *ngIf="password.errors?.required">
          ¡La constraseña es obligatorio!
        </p>
        <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
          La contraseña debe contener entre
          {{ getConfigValue('forms.validation.password.minLength') }} y
          {{ getConfigValue('forms.validation.password.maxLength') }}
          caracteres.
        </p>
      </ng-container>
    </div>

    <div class="form-group">
      <label class="label" for="input-re-password">Confirmar constraseña:</label>
      <input
        nbInput
        [(ngModel)]="user.confirmPassword"
        #rePass="ngModel"
        id="input-re-password"
        name="rePass"
        type="password"
        class="last"
        placeholder="Confirmar constraseña"
        fullWidth
        [status]="
          rePass.touched
            ? rePass.invalid || password.value != rePass.value
              ? 'danger'
              : 'success'
            : ''
        "
        [required]="getConfigValue('forms.validation.password.required')"
        [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
      />
      <ng-container *ngIf="rePass.touched">
        <p class="error-message" *ngIf="rePass.invalid && rePass.errors?.required">
          ¡Es obligatorio confirma contraseña!
        </p>
        <p class="error-message" *ngIf="password.value != rePass.value && !rePass.errors?.required">
          ¡Las constraseñas no coinciden!
        </p>
      </ng-container>
    </div>

    <button
      nbButton
      fullWidth
      [disabled]="submitted || !requestPassForm.valid"
      [class.btn-pulse]="submitted"
    >
      Cambiar constraseña
    </button>
  </form>

  <section class="sign-in-or-up" aria-label="Sign in">
    <p><a class="text-link" routerLink="../login">Volver al login</a></p>
  </section>
</nb-auth-block>
